<div class="container">
  <div class="row">
    <div class="offset-md-2 col-md-8 entry">
      <workspace-big-input rtl [placeholder]="'添加任务' | translate" [value]="newTodo"
                           (keyup)="onNewTodoChange($event)"
                           (keyup.enter)="!isAddTodoDisabled && onAddTodo()" (keyup.escape)="onNewTodoClear()">
        <workspace-big-input-action fontSet="fas" fontIcon="plus" faIcon="plus" color="accent"
                                    (action)="onAddTodo()" [disabled]="isAddTodoDisabled"
                                    [matTooltip]="'workspace.examples.todos.tooltip.add' | translate"
                                    matTooltipPosition="before">
        </workspace-big-input-action>
      </workspace-big-input>
    </div>
  </div>
  <div class="row">
    <ng-container *ngIf="tasks.length > 0">
      <div class="col-md-6">
        <h2 class="dotos-title" rtl>
          <span>{{ '任务列表' | translate }}</span>
        </h2>
        <div class="container p-0">
          <div class="row align-items-center mt-1" *ngFor="let task of tasks">
            <div class="col">
              <mat-card [ngClass]="routeAnimationsElements" class="w-100" (click)="toTaskStatusPage(task?.id)">
                &nbsp;{{task.title}}&nbsp;
              </mat-card>
            </div>
            <div class="col-auto">
              <button mat-mini-fab color="warn" (click)="deleteTask(task?.id)">
                <mat-icon>
                  <fa-icon icon="trash"></fa-icon>
                </mat-icon>
              </button>
            </div>
          </div>
        </div>
        <br>
        <br>
      </div>
    </ng-container>
  </div>
</div>
