<div class="container">
  <div class="row text-center mt-1">
    <h2>任务: {{task?.title}}</h2>
    <p>请完成的同学在自己名字后边打勾</p>
  </div>
  <mat-tab-group>
    <mat-tab [label]="groupName" *ngFor="let groupName of groupNames">
      <div class="row">
        <mat-selection-list #students>
          <ng-container *ngFor="let item of taskStatus">
            <mat-list-option *ngIf="item.group_name === groupName" [selected]="item.status === 'DONE'"
                             (click)="onStatusChange(students, item?.student_name)" [value]="item.student_name">
              {{item.student_name}}
            </mat-list-option>
          </ng-container>

        </mat-selection-list>
      </div>
    </mat-tab>
  </mat-tab-group>

</div>

