@use '~@angular/material' as mat;

$workspace-black-primary: mat.define-palette(mat.$grey-palette, 700, 300, 900);
$workspace-black-accent: mat.define-palette(mat.$blue-grey-palette, 400);
$workspace-black-warn: mat.define-palette(mat.$red-palette, 500);

$workspace-black-theme: mat.define-dark-theme(
  $workspace-black-primary,
  $workspace-black-accent,
  $workspace-black-warn
);
