@use '~@angular/material' as mat;

$workspace-primary: mat.define-palette(mat.$indigo-palette, 800, 300, 900);
$workspace-accent: mat.define-palette(mat.$light-blue-palette);
$workspace-warn: mat.define-palette(mat.$pink-palette, 600);

$workspace-theme: mat.define-light-theme(
  $workspace-primary,
  $workspace-accent,
  $workspace-warn
);
