@use '~@angular/material' as mat;

$workspace-light-primary: mat.define-palette(mat.$grey-palette, 200, 500, 300);
$workspace-light-accent: mat.define-palette(mat.$brown-palette, 200);
$workspace-light-warn: mat.define-palette(mat.$deep-orange-palette, 200);

$workspace-light-theme: mat.define-light-theme(
  $workspace-light-primary,
  $workspace-light-accent,
  $workspace-light-warn
);
