@use '~@angular/material' as mat;

$workspace-nature-primary: mat.define-palette(
  mat.$brown-palette,
  700,
  300,
  900
);
$workspace-nature-accent: mat.define-palette(mat.$deep-purple-palette, 300);
$workspace-nature-warn: mat.define-palette(mat.$red-palette, 600);

$workspace-nature-theme: mat.define-light-theme(
  $workspace-nature-primary,
  $workspace-nature-accent,
  $workspace-nature-warn
);
